<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons">
          menu
        </i>
      </a>
      <ul class="left hide-on-med-and-down">
        <li *ngFor="let item of items_navbar">
          <a>
            {{ item }}
          </a>
        </li>
      </ul>
      <ul class="right">
        <li class="search">
          <form class="" action="index.html" method="post">
            <div class="input-field">
              <input id="icon_prefix" placeholder="¿Qué estas buscando?" type="text" class="validate">
              <i class="material-icons">
                search
              </i>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/assets/images/bitmap-banner.png">
      </div>
    </div>
  </li>
  <li *ngFor="let item of items_navbar">
    <a>
      {{ item }}
    </a>
  </li>
</ul>
